@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="time"],
input[type="number"],
textarea {
    @apply w-full border my-1 rounded-2xl px-4 py-2 outline-none
}

button {
    @apply bg-gray-300;
}

button.primary {
    @apply bg-primary w-full mt-2 rounded-2xl py-1 text-gray-100
}


.placepage_checkbox {
    @apply flex gap-2 items-center m-2 p-4 border border-gray-500 rounded-3xl
}

.placepage_checkbox span svg {
    @apply w-4
}

.placepage_checkbox span {
    @apply flex gap-2 items-center
}

.loader {
    width: 24px;
    height: 24px;
    border: 3px dotted #363636;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}